@import './reset.css';


/* fonts */
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
/* == GLOBAL == */
body {
    font-family: "Ubuntu", sans-serif;
    margin: 0 20rem;
    background-color: hsl(220, 16%, 36%);
    color: hsl(0, 0%, 100%);

    transition: background-color 0.5s ease;
    & h2,
    h3,
    p {
        color: white;
    }
}

.main {
    color: black;
    min-height: 100%;
    position: relative;

    & a {
        color: black;
        text-decoration: none;
    }
}

.blueText {
    color: hsl(183, 47%, 53%);
}

/* == NAVIGATION == */
.nav {
    background-color: hsl(222, 16%, 28%);

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    margin: 0 -20rem;

    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;

    z-index: 10;

    & a {
        text-decoration: none;
        color: hsl(183, 47%, 53%);
        font-size: 1.3rem;
    }
    & a:hover {
        border-bottom: 3px solid hsl(183, 47%, 40%);
    }
    & a.active {
        border-bottom: 3px solid hsl(183, 47%, 40%);
    }
}

.nav__links {
    display: flex;
    gap: 5rem;

    z-index: 5;
}

/* dark mode */
.lightModeBtn {
    transition: background-color 0.5s ease;

    border: none;
    border-radius: 1rem;
    background-color: hsl(183, 47%, 53%);

    & img {
        width: 2.5rem;
        padding: .3rem;
    }
}

/* clock */
.nav--clock {
    color: hsl(183, 47%, 53%);
    font-size: 2rem;

}

/* == FOOTER == */

footer {
    background-color: hsl(222, 16%, 28%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;

    padding: 1rem;
    margin: 0 -20rem;

    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: .7rem;
}

/* == HOMEPAGE == */

.homePage {
    display: flex;
    align-items: center;
    gap: 8rem;

    position: absolute;
    top: 0%;
    left: 25%;

    font-size: 1.3rem;

    z-index: 1;

    & .homePage-pfp {
        transform: translateY(-5rem);
    }
}

.homePage--content {
    display: flex;
    flex-direction: column;

    & .homePage--content-text {
        width: 30rem;
        line-height: 1.8rem;
    }
    & .homePage--content-links {
        display: flex;
        gap: 2rem;
        padding: 2rem 0;
        & img,
        & svg {
            width: 3rem;
        }
        & .homePage--content-downloadBtn {
            background-color: hsl(183, 47%, 53%);
            border: none;
            border-radius: .8rem;
            & a {
                display: flex;
                align-items: center;
                gap: 2rem;
                color: hsl(0, 0%, 100%);
            }
        }
    }
}

.homePage--content-links a {
    color: white;
}


/* == ABOUT PAGE == */

.aboutPage, 
.aboutPage--content,
.aboutPage--skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    line-height: 1.9rem;

    font-size: 1.1rem;
    & .aboutPage--skills-skillbox {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 50rem;
        flex-wrap: wrap;

        & .aboutPage--skills-skillCard {
            background-color: hsl(183, 47%, 53%);

            display: flex;
            align-items: center;
            justify-content: space-around;

            width: 10rem;
            border-radius: 2rem;

            padding: .5rem;
            margin: .5rem;

            font-weight: 500;

            & img {
                width: 2.5rem;
            }
        }
    }
    
    & h2 {
        padding: 2rem 0;
        font-size: 2rem;
    }
}

/* == PORTFOLIO PAGE == */

.portfolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    & h2,
    & p {
        padding: 1rem;
    }
}

.portfolioPage--projects {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;

    max-width: 70rem;
    margin-bottom: 5rem;

    & .portfolioPage--projects-projectCard {
        background-color: hsl(219, 16%, 41%);
        width: 100%;
        max-width: 30rem;

        padding: 2rem;

        border-radius: 2rem;
        box-shadow: 1rem 1rem 2rem hsl(183, 47%, 53%);

        & .example {
            margin-bottom: 1rem;
            border-radius: 2rem;
            box-shadow: 10px 10px 50px black;
            transition: transform 2s ease;
        }

        & .example:hover {
            transform: scale(1.1);
        }

        & .portfolioPage--projects-projectCard-links {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        & p  {
            padding: 1rem .5rem;
        }

        & .title-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            & h3 {
                font-size: 2rem;
            }

            & a {
                width: 3rem;
                color: white;
            }
        }

        & .portfolioPage--projects-projectCard__languages {
            display: flex;
            gap: 1rem;
            padding: 1rem 0;
            flex-wrap: wrap;

            & .language--card {
                display: flex;
                align-items: center;
                gap: .2rem;
                border-radius: 1rem;
                padding: .3rem;

                font-weight: bold;

            }

            & .HTML {
                background-color: #E75028;
            }

            & .CSS {
                background-color: hsl(200, 65%, 48%);

            }

            & .JS {
                background-color: hsl(49, 91%, 50%);
            }

            & .React {
                background-color: hsl(191, 65%, 40%);
            }

            & .NodeJS {
                background-color: hsl(85, 66%, 47%);
            }

            & .ExpressJS {
                background-color: hsl(210, 11%, 15%);
            }

            & .Handlebars {
                background-color: hsl(13, 80%, 53%);
            }
            
            & img {
                width: 1.5rem;
            }
        }
    }
}

/* == CONTACT PAGE == */
.contactPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & h2 {
        font-size: 2rem;
        padding: 2rem 0;
    }

    & p {
        width: 50%;
        text-align: center;
    }

    & .contactPage--form {
        background-color: hsl(219, 16%, 41%);
        width: 100%;
        max-width: 30rem;

        padding: 2rem;
        margin: 5rem;

        border-radius: 2rem;
        box-shadow: 1rem 1rem 2rem hsl(183, 47%, 53%);

        & form {
            display: flex;
            flex-direction: column;
            & .inputBox {
                color: black;
                padding: .5rem;

                & .field {
                    width: 100%;
                    padding: .5rem;
                    border-radius: .8rem;
                    border: none;

                    &.field_message {
                        resize: none;
                    }
                }
            }
        }

        & button {
            margin-top: 2rem;
            padding: .6rem 0;

            background-color: hsl(183, 47%, 53%);
            color: white;
            font-weight: 600;
            border: none;
            border-radius: .8rem;
            cursor: pointer;
        }
    }
}

/* == LIGHT MODE == */
.light {
    transition: background-color 0.5s ease;

    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    & .nav,
    & .portfolioPage--projects-projectCard {
        background-color: hsl(180, 87%, 94%);
        transition: background-color 0.5s ease;
    }
    & h2,
    h3,
    p {
        color: black;
    }
    & .social-logo {
        color: black;
        fill: black;
    }
    & .blueText {
        color: hsl(183, 47%, 53%);
    }
    & footer {
        background-color: hsl(180, 87%, 94%);
        transition: background-color 0.5s ease;
    }
}